.title-bar-text {
    font-size: 15px !important;
}

.title-bar-value {
    font-size: 24px !important;
}

.portfolio-heading-left, .portfolio-heading-right {
    color: #fff;
}

/* Widgets */
.widget-space {
    margin-left: 8px;
    margin-right: 8px;
}

.widget {
    background: #fff;
    position: relative;
    border: 1px solid #e2e1e1;
    box-shadow: 0 3px 0 0 #dbdbdb;
    -moz-box-shadow: 0 3px 0 0 #dbdbdb;
    -webkit-box-shadow: 0 3px 0 0 #dbdbdb;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .widget .widget-head {
        background: #f7f7f7;
        border-bottom: 1px solid #e2e1e1;
        text-shadow: 0 1px 0 0 1px 0 #fff;
        /*height: 35px;*/
        line-height: 36px;
        position: relative;
        padding: 0 14px 0 7px;
        font-size: 15px;
        font-weight: 700;
        /*overflow: visible;*/
    }

.widget-title {
    font-size: 13px !important;
    padding-top: 12px;
}

.widget-value {
    font-size: 32px !important;
    padding-bottom: 20px;
}


ul.nav-tabs li a.activeTab {
    background-color: #eaeaea;
    border-top: solid 1px #BB133E;
    color: #000000;
}

ul.nav-tabs li a:hover {
    border-top: solid 1px #BB133E;
    color: #000000;
}

ul.nav-tabs li a {
    color: #eaeaea;
}

ul.nav.nav-tabs li a {
    line-height: .6;
}

#txtDatePicker {
    height: 5px;
}

#datePicker {
    cursor: pointer;
}

.dvSelectedDate {
    position: absolute;
    left: 0px;
}

table.cellPadding-2 tr td {
    padding: 2px;
}

.legendBox {
    height: 8px;
    width: 8px;
    /*position:relative;*/
    display: block;
}

.locationCountyTable thead td {
    border-bottom: solid 1px #00b4ce !important;
    border-right: solid 1px #00b4ce !important;
    border-left: solid 1px #00b4ce !important;
    border-top: solid 1px #00b4ce !important;
    padding: 5px 4px !important;
    font-weight: bold;
    font-size: 12px;
}

.locationCountyTable tbody td {
    border-bottom: solid 1px #e2e2e2 !important;
    border-right: solid 1px #e2e2e2 !important;
    border-left: solid 1px #e2e2e2 !important;
    margin: 5px 2px;
    padding: 3px 4px !important;
    font-size: 12px;
}

.locationCountyTable tfoot td {
    margin: 5px 2px;
    padding: 3px 4px !important;
    font-size: 18px;
    font-weight: bold;
}


.portfolio-box {
    background-color: #EAEAEA;
    padding: 10px 0;
    margin: 5px 0;
}

.trend-left-space {
    padding-left: 18px !important;
}

.companylogo-container {
    width: 100%;
    height: 68px;
}

.group-companylogo {
    float: right;
    margin: 5px 0;
    max-width: 100%;
    max-height: 48px;
}


.subtotalrow {
    height: 34px;
    vertical-align: middle !important;
    border-bottom: solid 1px #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.subtotalrow-report-one {
    height: 34px;
    vertical-align: middle !important;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

    .subtotalrow-report-one td.subtotaltd.cursor-default {
        border-top: none;
        padding: 25px 4px 0 4px !important;
    }

.subtotalrow-report-pct {
    height: 34px;
    vertical-align: middle !important;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

    .subtotalrow-report-pct td.subtotaltd.cursor-default {
        border-top: none;
        padding: 0px 4px 10px 4px !important;
        font-size: 13px;
        font-weight: normal;
        height: 41px;
    }

.subtotaltd {
    height: 30px;
    vertical-align: middle !important;
}





/*Flex Box*/

.flexContainer {
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Chrome */
    display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.alignItemStretch {
    align-items: stretch;
    -webkit-align-items: stretch;
}

.alignItemCenter {
    align-items: center;
    -webkit-align-items: center;
}

/*Flex Box ends*/





.text-warning-custom {
    color: #ffd100;
}

.peril-display-table {
    /*table-layout:fixed;*/
    display: table;
    width: 100%;
}

.peril-display-table-cell {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    float: none;
}


.portfolio-heading-left {
    float: left;
}

.portfolio-heading-right {
    float: right;
}

div[class*="col-xs-"], div[class*="col-sm-"], div[class*="col-md-"], div[class*="col-lg-"], li[class*="col-xs-"], li[class*="col-sm-"], li[class*="col-md-"], li[class*="col-lg-"] {
    padding: 0 9px;
}

#content {
    position: relative;
    min-width: 320px;
    min-height: calc(100vh - 305px);
    padding: 0;
    background: #eaeaea;
    width: 100%;
    margin: 0 auto;
    /*border-left: solid 1px #e2e2e2;
    border-right: solid 1px #e2e2e2;
    border-bottom: solid 1px #e2e2e2;*/
}


    #content .container > .innerLR {
        padding: 0;
    }

.innerLR {
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.datagridTitle {
    margin: 12px 0px 0px -9px;
    height: 45px !important;
}

.pieLegend {
    margin-left: -8px;
}


/*preloader*/
@-webkit-keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px);
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg);
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
}

@keyframes rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

.loader-container {
    opacity: 0.9;
    background-color: #eaeaea;
    position: absolute;
    z-index: 1000000;
    height: 100%;
    width: 100%;
}


.modalOverlay {
    z-index: 100000;
    height: 100%;
    width: 100%;
}

#MapSecondSlide .k-callout.k-callout-s {
    border-top-color: #fff !important;
}

#MapSecondSlide .k-callout-s {
    bottom: -12px !important;
}


#dvMapPreloader.modalOverlay {
    z-index: 99998;
    height: 100%;
    width: 100%;
    /*opacity:0.2;
    background-color:#dbdbdb;*/
}

#dvMapPreloader {
    /*top: 33% !important;
    left: 44% !important;*/
    z-index: 100000;
}

.globePreloader {
    top: 48%;
    left: 48%;
}
/*preloader ends*/


.afflocationsPanel {
    min-height: 513px;
}

.height180 {
    height: 180px;
}

.height200 {
    height: 200px;
}

#damagefactoolbtn span {
    width: 53px;
    display: inline-block;
    cursor: default;
}

#damagefactoolbtn.opened {
    top: -17px;
}

#damagefactoolbtn.closed {
    top: -6px;
}

.dmgfact-tool-window {
    top: 1px;
    position: absolute;
    z-index: 99;
    width: 96.8%;
}

.dmgfact-tool-cont {
    /*height:100px;*/
    background-color: #F7F7F7;
    width: 100% !important;
    border: 1px solid #e2e1e1;
    box-shadow: 0 3px 0 0 #dbdbdb;
    -moz-box-shadow: 0 3px 0 0 #dbdbdb;
    -webkit-box-shadow: 0 3px 0 0 #dbdbdb;
}

#trendDate {
    position: absolute;
    top: 77px;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
    background-color: #DBDBDB;
    z-index: 1000;
}

.thresholdhigh {
    padding-top: 3px !important;
}

.thresholdhighbox {
    padding-left: -35px !important;
    font-size: 16px !important;
}


/*-------new tab css admin-------*/
.circle {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 10px;
    height: 10px;
    /* position: absolute; */
    margin: 3px 5px;
    float: left;
}

.Red {
    background-color: #fe0000;
}

.Orange {
    background-color: #E87722;
}

.Yellow {
    background-color: #fee500;
}

.Green {
    background-color: #007f00;
}

.Blue {
    background-color: #418FDE;
}

.LightGray {
    background-color: #616A74;
}

.DarkGray {
    background-color: #0C2340;
}

.label-danger-custom {
    background-color: #ff0000;
    padding: 5px;
}

.label-warning-custom {
    background-color: #ffd100;
    padding: 5px;
}

.red_ver {
    width: 10%;
    height: 28px;
    background: #e51400;
    display: inline-block;
    vertical-align: bottom;
}

.yel_ver {
    width: 10%;
    height: 28px;
    background: #ebdf00;
    display: inline-block;
    vertical-align: bottom;
}

.highLightedColumn {
    background-color: #fff;
}

/*----*/

.tabReportsPeril {
    /*line-height: 35px;*/
    background: #f7f7f7;
    height: 36px;
    /*margin-left: -7px;
    margin-right: -14px;*/
}

.ReportsPerilParent-tab {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
    /*border: solid 1px #EAEAEA;*/
    border-bottom: none;
    /*background: #EAEAEA;*/
    float: left;
    text-align: center;
    margin-left: 8px;
    height: 34px;
}

    .ReportsPerilParent-tab.disabled {
        color: #ccc;
        cursor: default !important;
    }

.tabReportsPeril .ReportsPerilParent-tab:hover {
    border-bottom: none;
    border-top: none;
}

.tabReportsPeril .parent-tab-active {
    background-color: #fff;
    border: solid 1px #D4D4D4;
    border-bottom: none;
    border-top: none;
    height: 37px;
}



/*Tab*/

.tabBtncontainer {
    border-bottom: 1px solid #D4D4D4;
    line-height: 35px;
    background: #EAEAEA;
    height: 36px;
}

.parent-tab {
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    width: 23%;
    border: solid 1px #EAEAEA;
    border-bottom: none;
    background: #EAEAEA;
    float: left;
    text-align: center;
    margin: 0 1%;
    height: 34px;
}

.tabBtncontainer .parent-tab:hover {
    background-color: #F7F7F7;
    border: solid 1px #D4D4D4;
    border-bottom: none;
    height: 36px;
}

.tabBtncontainer .parent-tab-active {
    background-color: #F7F7F7;
    border: solid 1px #D4D4D4;
    border-bottom: none;
    height: 36px;
}



.peril_body {
    padding: 10px 0 !important;
    margin-top: 31px;
    border: solid 1px #eaeaea;
}

.tabBtncontainer2 {
    line-height: 27px;
    background: #F5F5F5;
}


.child-tab {
    width: 23%;
    float: left;
    text-align: center;
    margin: 5px 3%;
    width: 19%;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}




.tabBtncontainer2 .child-tab:hover {
    background-color: #EAEAEA;
}

.tabBtncontainer2 .child-tab-active {
    background-color: #EAEAEA;
}

div#accordion {
    border: solid 1px #EAEAEA;
    padding: 10px 0px;
    margin-top: -6px;
}


a.admin-btn-reset {
    width: 100%;
    display: inline-block;
    padding: 6px 10px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #525252;
    color: #ffffff;
    border: solid 1px #bcbcbc;
}

    a.admin-btn-reset:hover {
        width: 100%;
        display: inline-block;
        padding: 6px 10px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        border-radius: 0px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        background: #2b2a2a;
        color: #ffffff;
        border: solid 1px #bcbcbc;
        text-decoration: none;
    }

/*--Font Images Start--*/
.chevron-down {
    width: 14px;
}

.calender-icon img {
    width: 20px;
    margin-top: 5px;
}

.danger-icon {
    width: 10px;
    margin-top: -3px;
}

/*--Font Images End--*/

#dvchart_horizontal_bars {
    height: 230px;
}

.table-cont-counties {
    min-height: 240px;
}

.col-xs-12.col-sm-12.col-md-6.widget-left-padding {
    padding-left: 18px;
}

.portfolio-heading {
    margin-right: -12px;
    margin-left: -12px;
}

.nodata-left {
    min-height: 190px;
    background-image: url(../../assets/images/no-data-circle.png);
    background-repeat: no-repeat;
    background-position: center;
}

    .nodata-left h2 {
        color: #D8D8D8;
        text-align: center;
        line-height: 90px;
        opacity: 1;
        font-size: 52px;
    }

    .nodata-left h4 {
        font-size: 21px;
        font-weight: 800;
        color: #D8D8D8;
        text-align: center;
        opacity: 0.5;
        margin: 0;
    }

.nodata-affected-locations {
    height: 225px;
    background-image: url(../../assets/images/nodata-affected-locations.png);
    background-repeat: no-repeat;
    background-position: left;
}

    .nodata-affected-locations h2 {
        color: #D8D8D8;
        text-align: center;
        line-height: 90px;
        opacity: 1;
        font-size: 52px;
    }

    .nodata-affected-locations h4 {
        font-size: 21PX;
        font-weight: 800;
        color: #D8D8D8;
        text-align: center;
        line-height: 0px;
        opacity: 0.5;
        padding-top: 68px;
    }

.nodata-right {
    font-size: 38px;
    font-weight: 800;
    color: #eee;
    text-align: center;
    line-height: 462px;
}

.nodata-gray {
    color: #2e2e2e !important;
}

.nodata-blue {
    color: #428bca !important;
}


.note {
    margin-left: -2px;
}
/*---Counties color box---*/

.Counties-color-box {
    width: 20px;
    height: 20px;
    float: left;
}

.color-one {
    background-color: #000256;
}

.color-two {
    background-color: #000B98;
}

.color-three {
    background-color: #0027CB;
}

.color-four {
    background-color: #005AE1;
}

.color-five {
    background-color: #3CA4FF;
}

.bar-select-remove {
    height: 20px;
    width: 20px;
    border: 1px solid #CFCFCF;
    padding: 0px 4px;
    text-align: center;
    line-height: 18px;
    margin-top: -1px;
    border-radius: 3px;
}

/*Map point classes*/

.affected-points-outer {
    background-color: #616A74;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    padding: 2px;
    border: 2px solid transparent;
    background-image: none;
    float: left;
    margin: 5px 8px 0 0;
}

.affected-points {
    /* position: absolute; */
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
    cursor: pointer;
    background-image: none;
    border-radius: 50%;
    padding: 2px;
    box-shadow: #9BA0A7 0px 0px 0px 2px;
}

.k-marker-points {
    background-color: #616A74 !important;
    border-radius: 50% !important;
    height: 10px !important;
    width: 10px !important;
    padding: 2px;
    border: 2px solid transparent;
    background-image: none !important;
    margin: -5px 0px 0 -5px !important;
}

.k-marker-points-affected {
    background-color: #616A74 !important;
    border-radius: 50% !important;
    height: 10px !important;
    width: 10px !important;
    padding: 2px;
    border: 2px solid transparent;
    background-image: none !important;
    margin: -5px 0px 0 -5px !important;
}

.k-marker-points-affected-wrapper {
    position: absolute !important;
    width: 14px !important;
    height: 14px !important;
    margin: -7px 0 0 -7px !important;
    /*margin: -40px 0 0 -14px !important;*/
    cursor: pointer !important;
    background-image: none !important;
    border-radius: 50% !important;
    padding: 7px !important;
    box-shadow: #616A74 0px 0px 0px 2px;
}

.k-marker-hail {
    background-color: #616A74 !important;
}

.k-marker-hail-wrapper {
    box-shadow: #616A74 0px 0px 0px 2px;
}

.k-marker-Hail_1 {
    background-color: #418FDE !important;
}

.k-marker-Hail_1-wrapper {
    box-shadow: #418FDE 0px 0px 0px 2px;
}

.k-marker-Hail_2 {
    background-color: #007F00 !important;
}

.k-marker-Hail_2-wrapper {
    box-shadow: #007F00 0px 0px 0px 2px;
}

.k-marker-Hail_3 {
    background-color: #FEE500 !important;
}

.k-marker-Hail_3-wrapper {
    box-shadow: #FEE500 0px 0px 0px 2px;
}

.k-marker-Hail_4 {
    background-color: #FEA400 !important;
}

.k-marker-Hail_4-wrapper {
    box-shadow: #FEA400 0px 0px 0px 2px;
}

.k-marker-Hail_5 {
    background-color: #FE0000 !important;
}

.k-marker-Hail_5-wrapper {
    box-shadow: #FE0000 0px 0px 0px 2px;
}



.k-marker-eq {
    background-color: #00AFD7 !important;
}

.k-marker-eq-wrapper {
    box-shadow: #00AFD7 0px 0px 0px 2px;
}

.k-marker-EQ_5 {
    background-color: #00AFD7 !important;
}

.k-marker-EQ_5-wrapper {
    box-shadow: #00AFD7 0px 0px 0px 2px;
}

.k-marker-EQ_6 {
    background-color: #00AFD7 !important;
}

.k-marker-EQ_6-wrapper {
    box-shadow: #00AFD7 0px 0px 0px 2px;
}

.k-marker-EQ_7 {
    background-color: #00AFD7 !important;
}

.k-marker-EQ_7-wrapper {
    box-shadow: #00AFD7 0px 0px 0px 2px;
}

.k-marker-EQ_8 {
    background-color: #00AFD7 !important;
}

.k-marker-EQ_8-wrapper {
    box-shadow: #00AFD7 0px 0px 0px 2px;
}



.k-marker-wind {
    background-color: #0C2340 !important;
}

.k-marker-wind-wrapper {
    box-shadow: #0C2340 0px 0px 0px 2px;
}

.k-marker-Wind_0 {
    background-color: #418FDE !important;
}

.k-marker-Wind_0-wrapper {
    box-shadow: #418FDE 0px 0px 0px 2px;
}

.k-marker-Wind_50 {
    background-color: #007f00 !important;
}

.k-marker-Wind_50-wrapper {
    box-shadow: #007f00 0px 0px 0px 2px;
}

.k-marker-Wind_60 {
    background-color: #fee500 !important;
}

.k-marker-Wind_60-wrapper {
    box-shadow: #fee500 0px 0px 0px 2px;
}

.k-marker-Wind_75 {
    background-color: #E87722 !important;
}

.k-marker-Wind_75-wrapper {
    box-shadow: #E87722 0px 0px 0px 2px;
}

.k-marker-Wind_100 {
    background-color: #fe0000 !important;
}

.k-marker-Wind_100-wrapper {
    box-shadow: #fe0000 0px 0px 0px 2px;
}



.k-marker-torn {
    background-color: #E31C79 !important;
}

.k-marker-torn-wrapper {
    box-shadow: #E31C79 0px 0px 0px 2px;
}



.k-marker-wf {
    background-color: #E87722 !important;
}

.k-marker-wf-wrapper {
    box-shadow: #E87722 0px 0px 0px 2px;
}

.k-marker-WF_Location {
    background-color: #E87722 !important;
}

.k-marker-WF_Location-wrapper {
    box-shadow: #E87722 0px 0px 0px 2px;
}

.k-marker-WF_Perimeter {
    background-color: #E87722 !important;
}

.k-marker-WF_Perimeter-wrapper {
    box-shadow: #E87722 0px 0px 0px 2px;
}


.k-marker-hur {
    background-color: #A8AD00 !important;
}

.k-marker-hur-wrapper {
    box-shadow: #A8AD00 0px 0px 0px 2px;
}

.k-marker-Hur_39 {
    background-color: #A8AD00 !important;
}

.k-marker-Hur_39-wrapper {
    box-shadow: #A8AD00 0px 0px 0px 2px;
}

.k-marker-Hur_58 {
    background-color: #A8AD00 !important;
}

.k-marker-Hur_58-wrapper {
    box-shadow: #A8AD00 0px 0px 0px 2px;
}

.k-marker-Hur_74 {
    background-color: #A8AD00 !important;
}

.k-marker-Hur_74-wrapper {
    box-shadow: #A8AD00 0px 0px 0px 2px;
}

.k-marker-hurpoints {
    background-color: transparent !important;
    height: 25px !important;
    width: 25px !important;
    padding: 2px;
    border: 2px solid transparent;
    margin: -15px 0px 0 -14px !important;
}

.k-marker-hur-point-ts {
    /*background-image: url("../../images/HurPins/ts.png") !important;*/
    background-repeat: no-repeat;
}

.k-marker-hur-point-td {
    /*background-image: url("../../images/HurPins/td.png") !important;*/
    background-repeat: no-repeat;
}

.k-marker-hur-point-h0 {
    /*background-image: url("../../images/HurPins/h0.png") !important;*/
    background-repeat: no-repeat;
}

.k-marker-hur-point-h1 {
    /*background-image: url("../../images/HurPins/h1.png") !important;*/
    background-repeat: no-repeat;
}

.k-marker-hur-point-h2 {
    /*background-image: url("../../images/HurPins/h2.png") !important;*/
    background-repeat: no-repeat;
}

.k-marker-hur-point-h3 {
    /*background-image: url("../../images/HurPins/h3.png") !important;*/
    background-repeat: no-repeat;
}

.k-marker-hur-point-h4 {
    /*background-image: url("../../images/HurPins/h4.png") !important;*/
    background-repeat: no-repeat;
}

.k-marker-hur-point-h5 {
    /*background-image: url("../../images/HurPins/h5.png") !important;*/
    background-repeat: no-repeat;
}

.k-marker-hur-point-typhoon {
    /*background-image: url("../../images/HurPins/typhoon.png") !important;*/
    background-repeat: no-repeat;
}

.k-marker-hur-point-current {
    /*background-image: url("../../images/HurPins/animated.gif") !important;*/
    background-repeat: no-repeat;
}

.k-marker-hur-point-warning {
    /*background-image: url("../../images/HurPins/flag.png") !important;*/
    background-repeat: no-repeat;
}
/*Map point classes Ends*/



/*rotating ball loader*/

#circlePreloader_bg {
    position: fixed !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    background-color: #EFEFEF;
    z-index: 999999;
}

#circlePreloader_body {
    position: fixed !important;
    top: calc(50% - 40px) !important;
    left: calc(50% - 40px) !important;
    z-index: 1000000;
}

.circlePreloader {
    position: relative;
    width: 80px;
    height: 80px;
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

.circlePreloaderMap {
    top: 33%;
    left: 44%;
    position: absolute;
    width: 80px;
    height: 80px;
    -moz-transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}

.circlePreloader_bodyMap {
    top: 48% !important;
    left: 50% !important;
    z-index: 1000000;
}

.f_circleG {
    position: absolute;
    background-color: #5CB8FF;
    height: 15px;
    width: 15px;
    -moz-border-radius: 7px;
    -moz-animation-name: f_fadeG;
    -moz-animation-duration: 1.28s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: linear;
    -webkit-border-radius: 7px;
    -webkit-animation-name: f_fadeG;
    -webkit-animation-duration: 1.28s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: linear;
    -ms-border-radius: 7px;
    -ms-animation-name: f_fadeG;
    -ms-animation-duration: 1.28s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-direction: linear;
    -o-border-radius: 7px;
    -o-animation-name: f_fadeG;
    -o-animation-duration: 1.28s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: linear;
    border-radius: 7px;
    animation-name: f_fadeG;
    animation-duration: 1.28s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.frotateG_01 {
    left: 0;
    top: 33px;
    -moz-animation-delay: 0.48s;
    -webkit-animation-delay: 0.48s;
    -ms-animation-delay: 0.48s;
    -o-animation-delay: 0.48s;
    animation-delay: 0.48s;
}

.frotateG_02 {
    left: 9px;
    top: 9px;
    -moz-animation-delay: 0.64s;
    -webkit-animation-delay: 0.64s;
    -ms-animation-delay: 0.64s;
    -o-animation-delay: 0.64s;
    animation-delay: 0.64s;
}

.frotateG_03 {
    left: 33px;
    top: 0;
    -moz-animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
    -ms-animation-delay: 0.8s;
    -o-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.frotateG_04 {
    right: 9px;
    top: 9px;
    -moz-animation-delay: 0.96s;
    -webkit-animation-delay: 0.96s;
    -ms-animation-delay: 0.96s;
    -o-animation-delay: 0.96s;
    animation-delay: 0.96s;
}

.frotateG_05 {
    right: 0;
    top: 33px;
    -moz-animation-delay: 1.12s;
    -webkit-animation-delay: 1.12s;
    -ms-animation-delay: 1.12s;
    -o-animation-delay: 1.12s;
    animation-delay: 1.12s;
}

.frotateG_06 {
    right: 9px;
    bottom: 9px;
    -moz-animation-delay: 1.28s;
    -webkit-animation-delay: 1.28s;
    -ms-animation-delay: 1.28s;
    -o-animation-delay: 1.28s;
    animation-delay: 1.28s;
}

.frotateG_07 {
    left: 33px;
    bottom: 0;
    -moz-animation-delay: 1.44s;
    -webkit-animation-delay: 1.44s;
    -ms-animation-delay: 1.44s;
    -o-animation-delay: 1.44s;
    animation-delay: 1.44s;
}

.frotateG_08 {
    left: 9px;
    bottom: 9px;
    -moz-animation-delay: 1.6s;
    -webkit-animation-delay: 1.6s;
    -ms-animation-delay: 1.6s;
    -o-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.top5-text {
    font-size: 13px;
    font-weight: 700;
    line-height: 33px;
}

@-moz-keyframes f_fadeG {
    0% {
        background-color: #085E8C;
    }

    100% {
        background-color: #5CB8FF;
    }
}

@-webkit-keyframes f_fadeG {
    0% {
        background-color: #085E8C;
    }

    100% {
        background-color: #5CB8FF;
    }
}

@-ms-keyframes f_fadeG {
    0% {
        background-color: #085E8C;
    }

    100% {
        background-color: #5CB8FF;
    }
}

@-o-keyframes f_fadeG {
    0% {
        background-color: #085E8C;
    }

    100% {
        background-color: #5CB8FF;
    }
}

@keyframes f_fadeG {
    0% {
        background-color: #085E8C;
    }

    100% {
        background-color: #5CB8FF;
    }
}

/*--------------------*/


#warning-message {
    display: none;
}

.peril-report-left-space {
    padding-left: 18px !important;
}


/*--Kendo Tooltip---*/
.hur-tooltip-wrapper .k-widget.k-tooltip {
    border: solid 3px #c2c2c2;
    min-width: 165px;
    box-shadow: none;
}

.hur-tooltip-wrapper .k-callout-s {
    border-top-color: #c2c2c2;
    border-width: 9px !important;
    bottom: -19px !important;
}


.hur-tooltip-content tr th {
    border-bottom: solid 1px #919191;
    padding: 0 0 4px 0;
    font-size: 12px;
    text-align: left;
}

.hur-tooltip-content tr td {
    text-align: left;
    padding: 4px 0 0 0;
    font-size: 11px;
    color: #2e2e2e;
}


.toolsxl {
    background: url(../../assets/images/exportTo_xl.png) no-repeat 5px center; width: 30px;
    height: 26px;
    text-align: center;
    display: inline-block;
    border: 1px solid #dadada;
    margin: 0px -9px -8px 0px;
}

    .toolsxl:hover {
        background-color: #e9e9e9;
    }

    .toolsxl:active {
        border-top: 1px solid #707070 !important;
        border-left: 1px solid #939393 !important;
        border-right: 1px solid #dadada !important;
        border-bottom: 1px solid #dadada !important;
        background-color: #e9e9e9 !important;
    }



.LocationPin {
    /*border: solid 1px white;
    border-radius: 50%;*/
    pointer-events: all !important;
}


/*
div#LocatioPin-wrapper-3{

        border-radius: 50% !important;
    height: 14px !important;
    width: 14px !important;
    padding: 4px;
    border: 2px solid transparent;
    background-image: none !important;
     margin: -5px 0px 0 -5px !important; 
    box-shadow: #0C2340 0px 0px 0px 2px;
}
*/

.affected-pin {
    -webkit-transition: box-shadow 150ms ease;
    -moz-transition: box-shadow 150ms ease;
    -ms-transition: box-shadow 150ms ease;
    -o-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.LocationPin:hover {
    -webkit-transition: box-shadow 150ms ease;
    -moz-transition: box-shadow 150ms ease;
    -ms-transition: box-shadow 150ms ease;
    -o-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.MicrosoftMap {
    cursor: default !important;
}

.mapexpandview_up {
    background: url(../../assets/images/expand_view_icon_up.png) no-repeat; width: 20px;
    height: 20px;
    background-size: 20px;
    position: absolute;
    right: 8px;
    margin-top: 45px;
    z-index: 1;
}

    .mapexpandview_up:hover {
        outline: 1px solid #bebebe !important;
    }

.mapexpandview_down {
    background: url(../../assets/images/expand_view_icon_down.png) no-repeat; width: 20px;
    height: 20px;
    background-size: 20px;
    position: fixed;
    right: 8px;
    margin-top: 50px;
    z-index: 1;
}

    .mapexpandview_down:hover {
        outline: 1px solid #bebebe !important;
    }

.containerpadding {
    padding: 0px 12px 26px 10px !important;
}

#ExpandedMapContainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: calc(100vh - 52px);
    /*position:absolute;*/
}


/*info box for points in bing map*/
.infobox {
    position: relative;
    background-color: white;
    border: 1px solid rgb(136, 136, 136);
    left: 0px;
    top: 0px;
    /*width: 256px;*/
}

.infobox_close {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    border: none;
}

.infobox_content {
    margin: 5px;
    font-family: Arial;
    font-size: 11px;
    line-height: 22px;
}

.infobox_pointer {
    width: 33px;
    height: 38px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    left: 20px;
    top: -1px;
}

.footer-text {
    text-align: center;
    font-size: 13px;
    color: #5C5C5C;
}

.pin-infobox {
    min-height: 25px;
    padding: 2px;
    border: 1px solid #eaeaea;
    width: auto;
    background-color: #fff;
    margin: 2px;
}

/*.infobox-info{
    max-height:140px !important;
}*/

#MapSecondSlide .MicrosoftMap .Infobox {
    border-radius: 0px !important;
}

#ExpandedMap .MicrosoftMap .Infobox {
    border-radius: 0px !important;
}
/*********************************/

@media only screen and (orientation:portrait) and (max-width: 479px) {
    #wrapper {
        display: none;
    }

    #warning-message-header {
        background-color: #fff;
        height: 50px;
        float: left;
        width: 100%;
    }

    .CAT-title-message {
        font-size: 15px;
        margin-left: 10px;
    }

    .PI-title-message {
        font-size: 20px;
        font-weight: 700;
        font-style: italic;
        margin-left: 20px;
    }

    #warning-message {
        display: block;
        text-align: center;
        font-size: 14px;
        padding-top: 40%;
        background-color: #eaeaea;
        height: calc(100vh - 70px);
        color: #212121;
    }

    .rotation-icon {
        width: auto;
    }

    #warning-message p {
        margin-top: 10px;
    }
}

@media only screen and (orientation:landscape) {
    #warning-message, .CAT-title-message, .PI-title-message {
        display: none;
    }
}

@media only screen and (min-width:479px) and (max-width: 619px) {
    #div_donut_chart_left, #div_donut_chart_right {
        width: 300px !important;
    }
}

@media (max-width:479px) {
    .trend-left-space {
        padding-left: 9px !important;
    }

    .pull-left-responsive {
        float: none;
    }

    .pull-right-responsive {
        float: none;
    }
}




@media (min-width: 480px) and (max-width: 767px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .widget-space {
        margin-left: 0;
        margin-right: 0;
    }

    /*small, .small {
        font-size: 68%;
    }*/

    .portfolio-heading-right {
        float: left;
    }

    .col-xs-12.col-sm-12.col-md-6.widget-left-padding {
        padding-left: 9px;
    }

    .logout-heading .row {
        margin: 0;
    }

    .trend-left-space {
        padding-left: 9px !important;
    }

    .peril-report-left-space {
        padding-left: 9px !important;
    }

    #warning-message, .CAT-title-message, .PI-title-message {
        display: none;
    }

    .group-companylogo {
        float: right;
        margin: 10.5px 0;
        width: 87px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }

    .widget-space {
        margin-left: 0;
        margin-right: 0;
    }

    .col-xs-12.col-sm-12.col-md-6.widget-left-padding {
        padding-left: 9px;
    }

    .trend-height {
        height: 35px;
    }

    .logout-heading {
        margin: -10px -15px 0 -15px;
    }

    .global-text h3 {
        font-size: 23px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .trend-left-space {
        padding-left: 9px !important;
    }

    .peril-report-left-space {
        padding-left: 9px !important;
    }

    #warning-message, .CAT-title-message, .PI-title-message {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 12px;
    }

    .container-fluid {
        padding-right: 0;
        padding-left: 0;
    }

    h3, .h3 {
        font-size: 18px;
    }

    .innerLR {
        padding: 4px;
        position: relative;
    }

    .companylogo-container {
        width: 100%;
        height: 55px;
    }

    .trend-height {
        height: 28px;
    }

    .dmgfact-tool-window {
        top: 0;
    }

    .tabBtncontainer img {
        width: 20px;
    }

    .logout-heading {
        margin: -10px -15px 0 -15px;
    }

    .tabBtncontainer, .tabBtncontainer2 {
        margin: 0 -13px;
    }

    .global-text h3 {
        font-size: 26px;
    }

    .logout-btn {
        margin-top: 10px;
    }

    .peril-report-left-space {
        padding-left: 9px !important;
    }

    .estimated-peril {
        padding-right: 3px !important;
    }

    .affected-peril {
        padding-left: 12px !important;
    }

    #warning-message, .CAT-title-message, .PI-title-message {
        display: none;
    }
}



@media (min-width:1200px) {
    .col-xs-12.col-sm-12.col-md-6.widget-left-padding {
        padding-left: 18px;
    }

    .trend-height {
        height: 35px;
    }

    #warning-message, .CAT-title-message, .PI-title-message {
        display: none;
    }
}
