.navbar {
    background: #fff;
    z-index: 100;
}

.JLT-title {
    font-size: 15px !important;
    margin-left: 25px !important;
}

.product-title {
    font-size: 20px !important;
    font-weight: 700;
    font-style: italic;
    margin-left: 35px !important;
}

/*------Logout Css-------*/
.logout-heading {
    margin: -10px -25px 0 -25px;
}

.client-logo {
    width: 77px;
    float: right;
    padding: 3px 0 0 0 !important;
    height: 38px;
}

    .client-logo img {
        height: 30px;
    }

.exit-icon {
    display: inline-block;
    width: 16px;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: 5px;
}

.exit-text {
    text-decoration: none;
    color: #2e2e2e;
    font-size: 12px;
    vertical-align: top;
    float: left;
    margin-top: 4px;
    margin-left: 5px;
}

    .exit-text:hover {
        text-decoration: none;
        color: #2e2e2e;
    }

.logout-btn {
    margin-top: 7px;
    margin-right: 18px;
    margin-left: 8px;
}

    .logout-btn a:hover {
        text-decoration: none;
    }

.logout-content {
    float: right;
}
