<nav class="navbar hidden-print main  animated fadeInUp" role="navigation" style="visibility: visible;">
    <div class="container-fluid">
        <div class="contents">
            <div>
                <div class="col-sm-6 col-xs-5">
                    <div class="row">
                        <div class="col-sm-12 col-xs-12">

                            <div class="pull-left no-margin-bottom margin-top-3 small JLT-title">
                                CATography<span id="spn"></span><span id="spn1"></span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <div class="pull-left no-margin-top no-margin-bottom product-title">Peril Impact</div>



                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-7">




                    <div class="pull-right margin-top-8 ">

                        <div class="logout-content">
                            <img src="/PerilImpact/Content/images/JLT_logo.png" class="pull-left" />
                            <div class="pull-left logout-btn">
                                <a href="/PerilImpact/?logout=True"><span class="exit-text">Exit</span><span><img src="/PerilImpact/Content/images/JLT_logo.png" class="img-responsive exit-icon" /></span></a>
                            </div>
                            <div class="mapexpandview_down" style="display:none;"></div>
                        </div>
                    </div>

                     <div id="outerClientDDL">
                        <div id="innerClientDDL" style="display:none;">
                            <div class="superuser-display-content" id="SuperUsersClientList">
                                <div class="superuser-display-ddl-body superuser-ddl">
                                    <input id="ddlCustomer" name="ddlCustomer" />
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>

        </div>
    </div>
</nav>